<div class="panel panel-danger err">
  <div class="panel-heading">
    <h6 class="panel-title">Ошибка</h6>
  </div>
  <div class="panel-body error">
    e
  </div>
</div>
<div class="groups">
    <h5>Группы</h5>
    <div class="wrapper">
        <div id="groups">
        </div>
    </div>    
        <hr>
        <div class="controls btn-group">
            <input type="text" class="btn btn-default form-control group-name">
            <button type="button" class="btn float-right btn-default group-add">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    
</div>

<div class="students">
    <h5>Студенты</h5>
    <div class="wrapper student-wrapper">
        <div class="btn-group">
          <input type="text" class="col1 disabled btn btn-info" value="ФИО">
          <span class="col2 disabled btn btn-info">Сдал</span>
          <span class="col3 disabled btn btn-info">Последний визит</span>
        </div>
        <div id="students"><h5>Выберите группу</h5></div>
    </div>
        
        <hr>
        <div class="controls btn-group">
            <input type="text" class="btn btn-default form-control student-name">
            <button type="button" class="btn btn-default student-add"><span class="glyphicon glyphicon-plus"></span></button>
        </div>

</div>